.footer {
    background-color: $color-grey-light-1;
    display: grid;
    grid-column: col-start 1 / col-end 8;
    padding: 3rem;
    justify-items: center;
}

.copywrite {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin: 3rem;
    width: 60%;
}